#myTED__footer .josh-List {
  background: red;
}

#myTED__main__home__videodetail__like {
  background-image: url();
  background-size: 51px 51px;  
}

#myTED__footer_home {
  background-position: center 7px;
  background-image: url();
  background-size: 25px 25px;
}

#myTED__footer_themes {
  background-position: center 6px;
  background-image: url();
  background-size: 25px 25px;
}

#myTED__footer_favorites {
  background-position: center 4px;
  background-image: url();
  background-size: 25px 25px;
}