/* @group Home */

#myTED__main {
  padding: 0;
}

#myTED__main__home {
  width: 320px;
  margin: 0;
}

/* @end */

/* @group Panels */

#myTED__detailswrapper,
#myTED__main__home__videolistpanel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* @group Video details */
#myTED__detailswrapper {
  -webkit-box-shadow: none;
  width: 100%;
}

#myTED__main__home__videodetail {
  width: 100%;
  margin: 0;
}

#myTED__main__home__videodetail__like {
  display: none !important;
}

#myTED__main__home__videodetail__player {
  height: auto !important;
}

#myTED__detailswrapper video {
  width: 100%;
  height: 170px;
}

#myTED__main__home__videodetail__videoshortdesc {
  padding: 5px;
}

#myTED__main__home__videodetail__videoshortdesc h1 {
  font-size: 1.2em;
}

#myTED__main__home__videodetail__videoshortdesc h2 {
  font-size: 1em;
}

#myTED__main__home__videodetail__info {
  display: none !important;
}

/* @end */

/* @group Video List */

#myTED__main__home__videolistpanel {
  position: absolute;
  left: auto;
  right: auto;
  top: 215px;
  height: auto;
}

#myTED__main__home__videolistpanel__videolist {
  top: 25px;
}

#myTED__main__home__videolistpanel__videolisttitle {
  margin: 0;
  width: 100%;
}

#myTED__main__home__videolistpanel__videolisttitle .theme-title {
  width: 100%;
  margin: 0;
}

#myTED__main__home__videolistpanel__videolist .josh-List {
  width: 125px;
  height: 145px;
  margin: 0 15px 10px;
}

#myTED__main__home__videolistpanel__videolist .josh-List img {
  height: auto;
}

/* @end */

/* @end */

/* @group Themes List */

#myTED__main__themes .josh-List {
  width: 134px;
  height: 135px;
  margin: 10px;
}

#myTED__main__themes .josh-List img {
  height: auto;
}

/* @end */

/* @group Scrollbar */

.scrollbarV {
  right: 0;
}

/* @end */